# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# ====================== #
# Dont Ignore Meta Files #
# ====================== #
!*.*.meta
Assets/_Scenes/Testing_Scene_Allen(Do not add to repo).unity
Assets/_Scenes/Testing_Scene_Allen(Do not add to repo).unity.meta
Assets/Art/Test Zone.FBX
Assets/Art/Test Zone.FBX.meta
Assets/_Scenes/Minimap Testing (Don't Add to Repository).unity
Assets/_Scenes/Minimap Testing (Don't Add to Repository).unity.meta
